<div class="content content-padding-negation">
  <%= image_tag("static/start_title.png", class:"start-title-logo") %>
  <div class="col-md-2 start-side">
    <p class="align-bottom start-sub-title">
      あなたが本当に行きたい大学、行ってよかったと思う大学を選択するためのサービス
    </p>
  </div>
  <div class="col-md-10 text-center start-jumbotron">
    <%= image_tag("static/CollegeShare_logo.png", class:"start-logo") %>
    <div class="back-btn">
      <%= link_to "はじめる", search_index_path, class: "btn-primary start-btn-position" %>
    </div>
  </div>
</div>
