<table class="table community-table table-striped data-table">
  <tbody>
    <tr>
      <th>学校名</th>
      <th>トピック数</th>
      <th>県名</th>
      <th>ステータス</th>
      <th>お気に入り登録数</th>
    </tr>
    <tr>
      <% (communities).each do |community| %>
      <tr>
        <td><%= link_to community.college_name, topics_path %></td>
        <td><%= community.topics.count %></td>
        <td><%= community.prefecture.name %></td>
        <% user_communities = current_user.communities %>
        <% if user_communities.include?(community) then %>
          <td><span class="label label-success">Approved</span></td>
        <% else %>
          <td><span class="label label-danger">UnApproved</span></td>
        <% end %>
        <td><%= community.favo_user_num %></td>
      </tr>
      <% end %>
    </tr>
  </tbody>
</table>
