<table class="table community-table table-striped data-table">
  <tbody>
    <tr>
      <th>学校名</th>
      <th>トピック数</th>
      <th>県名</th>
      <th>ステータス</th>
      <th>お気に入り登録数</th>
    </tr>
    <tr>
      <% (communities).each do |community| %>
      <tr>
        <td><a><%= community.college_name.to_s %></a></td>
        <td><%= community.topics.count %></td>
        <td><%= community.prefecture_id.to_s %></td>
        <td><span class="label label-success">Approved</span></td>
        <td><%= community.favo_user_num %></td>
      </tr>
      <% end %>
    </tr>
  </tbody>
</table>
