<div class="wrapper">

  <!-- header -->
  <%= render partial: 'layouts/header', locals: {user: @user}, remote: true %>

  <!-- sidebar -->
  <%= render 'layouts/side_navbar', remote: true %>

  <!-- Main部分 -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here -->
    </section>
    <!-- /.content -->
  </div>

  <!-- /.content-wrapper -->

  <!-- hooter -->
  <%= render 'layouts/footer' %>
</div>
<!-- ./wrapper -->
