<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">Peopel</h4>
      </div>
      <div class="modal-body text-left">
        <form role="form">
          <ul class="products-list product-list-in-box">
            <li class="item">
              <div class="product-img">
                <%= image_tag("user_img/sample_user_img1.jpg", class: "img-circle", alt: "User Image") %>
              </div>
              <div class="product-info">
                <a class="product-title">@ggogogo</a>
                <label class="pull-right"><input type="checkbox" class="checkbox01-input"><span class="checkbox01-parts"></span></label>
                <span class="product-description">小西 あつし</span>
              </div>
            </li>
            <li class="item">
              <div class="product-img">
                <%= image_tag("user_img/sample_user_img1.jpg", class: "img-circle", alt: "User Image") %>
              </div>
              <div class="product-info">
                <a class="product-title">@gjaojg</a>
                <label class="pull-right"><input type="checkbox" class="checkbox01-input"><span class="checkbox01-parts"></span></label>
                <span class="product-description">中川 ひろき</span>
              </div>
            </li>
            <li class="item">
              <div class="product-img">
                <%= image_tag("user_img/sample_user_img2.jpg", class: "img-circle", alt: "User Image") %>
              </div>
              <div class="product-info">
                <a class="product-title">@hogehoge</a>
                <label class="pull-right"><input type="checkbox" class="checkbox01-input"><span class="checkbox01-parts"></span></label>
                <span class="product-description">林 みずき</span>
              </div>
            </li>
            <li class="item">
              <div class="product-img">
                <%= image_tag("user_img/sample_user_img2.jpg", class: "img-circle", alt: "User Image") %>
              </div>
              <div class="product-info">
                <a class="product-title">@tyuighj</a>
                <label class="pull-right"><input type="checkbox" class="checkbox01-input"><span class="checkbox01-parts"></span></label>
                <span class="product-description">うんちっち</span>
              </div>
            </li>
          </ul>
          <!-- <div class="form-group">
                  <label for="exampleInputEmail1">タイトル</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="タイトル">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail2">コンテンツ</label>
                  <textarea  class="form-control" id="exampleInputPassword1" placeholder="コンテンツ" rows="4" cols="40"></textarea>
                </div>
                <div class="form-group">
                  <div class="attachment-block box collapsed-box" style="padding-bottom:0;">
                    <div class="box-header">
                      <label for="exampleInputFile">写真</label>
                      <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                    <div class="box-body" style="padding-top:0;">
                      <input type="file" id="exampleInputFile">
                      <p class="help-block small">タイトル<input type="email" class="form-control input-sm" id="title" placeholder="タイトル"></p>
                      <p class="help-block small">コメント<textarea type="email" class="form-control input-sm" id="comment" placeholder="コメント"></textarea></p>
                    </div>
                  </div>
                </div> -->
       </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-success">招待する！</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
