<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center">グループ作成</h4>
      </div>
      <div class="modal-body text-left">
        <form role="form">
          <p class="text-muted small text-center">ここでは、気に入った人たちとプライベートなグループを作ることができます！</p>
          <div class="form-group">
            <label>チーム名</label>
            <input type="text" class="form-control" placeholder="チーム名">

          </div>
          <ul class="products-list product-list-in-box">
            <% commenters.each do |user| %>
            <li class="item">
                <div class="product-img">
                  <%= image_tag(user.user_image, class: "img-circle", alt: "User Image", size: "50x50") %>
                </div>
                <div class="product-info">
                  <a class="product-title"><%= user.account_id %></a>
                  <label class="pull-right"><input type="checkbox" class="checkbox01-input"><span class="checkbox01-parts"></span></label>
                  <span class="product-description"><%= user.name %></span>
                </div>
            </li>
            <% end %>
          </ul>
       </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-success">グループ作成！</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
