// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* css checkbox01 */
.checkbox01-input{
  display: none;
}
.checkbox01-parts{
  position:relative;
  margin-right: 20px;
}
.checkbox01-parts::before{
  content: "";
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 9px;
}
.checkbox01-input:checked + .checkbox01-parts{
  color: #009a9a;
}
.checkbox01-input:checked + .checkbox01-parts::after{
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  left: 5px;
  width: 9px;
  height: 17px;
  transform: rotate(40deg);
  border-bottom: 3px solid #009a9a;
  border-right: 3px solid #009a9a;
}


// topic#show
#topic-root {
  // margin: 3vh;
  .thumbs-up-wrapper {
    margin: 4vh 0;
      i {
        font-size: 3vh;
      }
  }
  .topic-text {
    margin: 2vh;
    font-size: 2vh;
  }
  .topic-comment {
    padding: 3vh;
  }
}
